# BEGIN Imagify: webp file type
<IfModule mod_mime.c>
	AddType image/webp .webp
</IfModule>
# END Imagify: webp file type

# BEGIN Imagify: avif file type
<IfModule mod_mime.c>
	AddType image/avif .avif
</IfModule>
# END Imagify: avif file type

# BEGIN WordPress
# Las directivas (líneas) entre «BEGIN WordPress» y «END WordPress» son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /lasdeliciasdegra/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /lasdeliciasdegra/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# Las directivas (líneas) entre «BEGIN Simply Static» y «END Simply Static» son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.
<Files "C:\xampp\htdocs\lasdeliciasdegra/wp-content/uploads\simply-static\bf837f871d8e470a3f03806f92b1c525-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static